.c-my-skoda-service .my-skoda-title {
  margin-top: 10px;
  font-size: 2.5rem;
}
.c-my-skoda-service .text-green {
  color: #28a745;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.c-my-skoda-service .text-small {
  display: block;
  color: #6c757d;
  font-weight: normal;
  font-size: 80%;
  margin-bottom: 5px;
}
.c-my-skoda-service .text-regular {
  margin-bottom: 5px;
}
.c-my-skoda-service .text-bg {
  background-color: rgb(41, 168, 71, 0.2);
}
@media (max-width: 375px) {
  .c-my-skoda-service .service-cell {
    font-size: 80%;
  }
}
