.p-signup-step-two .main {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 15px 60px;
}
.p-signup-step-two .signup-column {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
}
.p-signup-step-two .my-skoda-signup-label {
  font-size: 0.8rem;
  color: #000;
}
.p-signup-step-two .letter-green {
  color: #28a745;
  font-weight: bold;
}
.p-signup-step-two .step {
  font-size: 0.8rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.p-signup-step-two .icon-eye {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
}
.p-signup-step-two .icon-eye-off {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  cursor: pointer;
}
.p-signup-step-two .input-password {
  position: relative;
}
.p-signup-step-two .alert-dismissible .close {
  top: -10px;
  right: -10px;
}
.p-signup-step-two .error-alert {
  position: relative;
  background-color: yellow;
  border-radius: 3px;
  padding: 20px;
}
.p-signup-step-two .prev-next-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.p-signup-step-two .signup-link {
  color: #218838;
  border-bottom: 1px solid #218838;
  text-decoration: none;
}
.p-signup-step-two .signup-link:hover {
  text-decoration: none;
  background-color: yellow;
}
.p-signup-step-two .prev-button,
.p-signup-step-two .next-button {
  width: 47%;
}
.p-signup-step-two .signup-img-wrap {
  position: relative;
  margin-bottom: 40px;
}
.p-signup-step-two .signup-img {
  width: 100%;
  object-fit: cover;
}
.p-signup-step-two .logo {
  width: 60px;
  position: absolute;
  right: 40px;
  top: 30px;
  z-index: 1;
}
@media (max-width: 992px) {
  .p-signup-step-two .logo {
    width: 40px;
  }
}
@media (max-width: 576px) {
  .p-signup-step-two .logo {
    width: 30px;
  }
}
