.c-service-calendar {
  width: 33.33%;
}
.c-service-calendar .my-skoda-title {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 2.5rem;
}
.service-cell {
  width: 33.33%;
}
.shedule-link {
  color: #218838 !important;
  border-bottom: 1px solid #218838;
  text-decoration: none;
}
.shedule-link:hover {
  text-decoration: none;
  background-color: yellow;
}
@media (max-width: 768px) {
  .c-service-calendar {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .c-service-calendar .service-cell {
    font-size: 80%;
  }
}
