.c-service-calendar .my-skoda-title {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 2.5rem;
}
.c-service-calendar .service-cell {
  width: 33.33%;
}
.c-service-calendar .text-small {
  display: block;
  color: #6c757d;
  font-weight: normal;
  font-size: 80%;
  margin-bottom: 5px;
}
.c-service-calendar .text-regular {
  margin-bottom: 5px;
}
.c-service-calendar .shedule-link {
  color: #218838;
  border-bottom: 1px solid #218838;
  text-decoration: none;
}
.c-service-calendar .shedule-link:hover {
  text-decoration: none;
  background-color: yellow;
}
@media (max-width: 425px) {
  .c-service-calendar .service-cell {
    padding: 0.5rem;
  }
}
@media (max-width: 375px) {
  .c-service-calendar .service-cell {
    font-size: 80%;
  }
}
