.reset-link {
  color: #218838;
  border-bottom: 1px solid #218838;
  width: max-content;
  margin: 1rem 0;
}
.reset-link:hover {
  text-decoration: none;
  background-color: yellow;
  cursor: pointer;
}
.reset-modal .modal-header {
  background-color: #fff3cd;
  /* padding: 1rem 2rem; */
}
.reset-modal .modal-body {
  /* padding: 2rem; */
}
.reset-modal .button-group {
  /* margin-top: 1rem; */
}
.reset-modal-success .modal-header {
  background-color: #d1e7dd;
  padding: 1rem 2rem;
}
.reset-modal-success .modal-body {
  padding: 2rem;
}
